body {
    background-image: url("../img/Captura.PNG");
    background-size: cover;
    font-family: 'Labrada', serif, bold;
    font-family: 'Rajdhani', sans-serif, bold;
    font-family: 'Shantell Sans', cursive, bold;

}

#app {
    display: grid;
    place-items: center;
    margin-top: 150px;     
}


.trafficLightSupport{
    margin: auto;
    height: 90px;
    width: 20px;
    background-color: rgb(0, 0, 0);
}

/* CONTENEDEDOR PRINCIPAL DE LUCES */

.main-container {
    height: 400px;
    width: 100px;
    background-color: rgb(0, 0, 0);
    border-radius: 11px; 
    display: grid;
    place-items: center;
    flex-direction: column;
}   

/* ---------------------------------------- */

/* COLORES DE SEMÁFORO */

.trafficLightRed {
    background-color: red;
    width: 80px;
    height: 80px;
    border-radius: 90px; 
    cursor: pointer;
    margin-top: 10px;
}

.trafficLightOrange {
    background-color: orange;
    width: 80px;
    height: 80px;
    border-radius: 90px; 
    cursor: pointer;
}

.trafficLightGreen {
    background-color: green;
    width: 80px;
    height: 80px;
    border-radius: 90px; 
    cursor: pointer;
}


.trafficLightPurple {
    background-color: purple;
    width: 80px;
    height: 80px;
    border-radius: 90px; 
    cursor: pointer;
}

.hide {
    display: none;
}

.shine {
    box-shadow: 0 0 40px rgba(250, 249, 246, 0.8);;
    animation: shine-animation 2s infinite;
}

@keyframes shine-animation {
    0% { box-shadow: 0 0 40px rgba(250, 249, 246, 0.8); }
    50% { box-shadow: 0 0 40px rgba(234, 236, 235, 0.4); }
    100% { box-shadow: 0 0 40px rgba(250, 249, 246, 0.8); }
}

/* ----------------------------------------- */